.pager {
  margin-top: 20px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pager > li {
  min-width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  margin-right: 10px;
}
.pager > li:last-child {
  margin-right: 0;
}
.pager > li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.pager > li:hover {
  background-color: #ff9800;
}
.pager > li:hover a {
  color: white;
}
.pager > li.active {
  background-color: #ff9800;
}
.pager > li.active a {
  color: white;
}

.card .title {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 20px 10px 20px;
  background-color: white;
}
.card .title h2 {
  font-size: 20px;
}
.card .title > div a {
  font-size: 14px;
}
.card .body {
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 20px 20px;
  background-color: white;
}

#app {
  width: 100%;
}
#app .main {
  width: 1070px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}
#app .main > div > div {
  margin-bottom: 20px;
}
#app .main .left {
  width: 69%;
}
#app .main .left .boutique_article > .title .switch_article_category span {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s;
}
#app .main .left .boutique_article > .title .switch_article_category span:hover {
  color: #ff9800;
}
#app .main .left .boutique_article > .title .switch_article_category span[active] {
  color: #ff9800;
}
#app .main .left .boutique_article > .body {
  padding: 0 20px;
}
#app .main .left .boutique_article > .body > ul {
  display: flex;
  flex-wrap: wrap;
}
#app .main .left .boutique_article > .body > ul > li {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0;
}
#app .main .left .boutique_article > .body > ul > li:nth-child(1), #app .main .left .boutique_article > .body > ul > li:nth-child(3), #app .main .left .boutique_article > .body > ul > li:nth-child(5) {
  border-right: 1px solid #f0eeee;
  padding: 10px 10px 10px 0;
}
#app .main .left .boutique_article > .body > ul > li:nth-child(2), #app .main .left .boutique_article > .body > ul > li:nth-child(4), #app .main .left .boutique_article > .body > ul > li:nth-child(6) {
  padding: 10px 0 10px 10px;
}
#app .main .left .boutique_article > .body > ul > li:nth-child(1), #app .main .left .boutique_article > .body > ul > li:nth-child(2), #app .main .left .boutique_article > .body > ul > li:nth-child(3), #app .main .left .boutique_article > .body > ul > li:nth-child(4) {
  border-bottom: 1px solid #f0eeee;
}
#app .main .left .boutique_article > .body > ul > li .left {
  width: 40%;
}
#app .main .left .boutique_article > .body > ul > li .left > div {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
#app .main .left .boutique_article > .body > ul > li .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}
#app .main .left .boutique_article > .body > ul > li .left img:hover {
  transform: scale(1.2);
}
#app .main .left .boutique_article > .body > ul > li .right {
  width: 60%;
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#app .main .left .boutique_article > .body > ul > li .right h2 {
  font-size: 20px;
}
#app .main .left .boutique_article > .body > ul > li .right p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app .main .left .boutique_article > .body > ul > li .right span {
  font-size: 14px;
}
#app .main .left .hotList > .body {
  padding: 10px 20px 10px 20px;
}
#app .main .left .hotList > .body > div {
  display: flex;
  font-size: 14px;
}
#app .main .left .hotList > .body > div .index {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: #333333;
  display: flex;
  margin-right: 20px;
}
#app .main .left .hotList > .body > div a {
  width: 77%;
  color: #3a8ee6;
  transition: all 0.2s;
}
#app .main .left .hotList > .body > div .num {
  width: 20%;
  display: flex;
  justify-content: right;
}
#app .main .left .all_article > .body {
  background-color: transparent;
  padding: 0;
}
#app .main .left .all_article > .body > ul {
  width: 100%;
}
#app .main .left .all_article > .body > ul > li {
  width: 100%;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
}
#app .main .left .all_article > .body > ul > li:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .left .all_article > .body > ul > li:first-child .left {
  padding: 10px 10px 20px 20px;
}
#app .main .left .all_article > .body > ul > li:first-child .right {
  padding: 10px 20px 20px 10px;
}
#app .main .left .all_article > .body > ul > li:last-child {
  margin-bottom: 0;
}
#app .main .left .all_article > .body > ul > li .left {
  width: 30%;
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
}
#app .main .left .all_article > .body > ul > li .left > div {
  width: 100%;
  border-radius: 5px;
  height: 110px;
  overflow: hidden;
}
#app .main .left .all_article > .body > ul > li .left img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#app .main .left .all_article > .body > ul > li .left img:hover {
  transform: scale(1.2);
}
#app .main .left .all_article > .body > ul > li .right {
  width: 70%;
  padding: 10px 20px 20px 10px;
  position: relative;
}
#app .main .left .all_article > .body > ul > li .right > h2 {
  font-size: 23px;
  margin-bottom: 10px;
}
#app .main .left .all_article > .body > ul > li .right p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
#app .main .left .all_article > .body > ul > li .right .article_info {
  font-size: 14px;
  color: #555555;
}
#app .main .left .all_article > .body > ul > li .right .article_info > span {
  margin-right: 5px;
}
#app .main .left .all_article > .body > ul > li .right > button {
  width: 100px;
  height: 30px;
  background-color: #ff9800;
  position: absolute;
  right: 20px;
  bottom: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#app .main .left .all_article > .body > ul > li .right > button a {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#app .main .right {
  width: 30%;
}
#app .main .right .advertisement .body {
  padding: 0;
  border: none;
}
#app .main .right .advertisement .body > div {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
}
#app .main .right .advertisement .body > div:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .right .advertisement .body > div > a {
  width: 100%;
  display: block;
  height: 100%;
  overflow: hidden;
}
#app .main .right .advertisement .body > div > a img {
  width: 100%;
  transition: all 0.3s;
}
#app .main .right .advertisement .body > div > a img:hover {
  transform: scale(1.1);
}
#app .main .right .tags > .body {
  position: relative;
}
#app .main .right .tags > .body ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
@keyframes box_move {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(100% - 20px);
    top: 0;
    rotate: 90deg;
  }
  50% {
    left: calc(100% - 20px);
    top: calc(100% - 20px);
    rotate: 180deg;
  }
  75% {
    left: 0;
    top: calc(100% - 20px);
    rotate: 270deg;
  }
  100% {
    left: 0;
    top: 0;
    rotate: 360deg;
  }
}
#app .main .right .tags > .body ul::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 20px solid #fcf921;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  -webkit-animation-name: box_move;
  animation-name: box_move;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#app .main .right .tags > .body ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 30px;
  background-color: #808595;
  box-sizing: border-box;
}
#app .main .right .tags > .body ul li:nth-child(6n+1), #app .main .right .tags > .body ul li:nth-child(6n+2), #app .main .right .tags > .body ul li:nth-child(6n+3) {
  background-color: #f5f5f5;
}
#app .main .right .tags > .body ul li:nth-child(3n+1), #app .main .right .tags > .body ul li:nth-child(3n+2), #app .main .right .tags > .body ul li:nth-child(3n+3) {
  border-right: 1px solid #f0eeee;
}

/*# sourceMappingURL=index.css.map */
